In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns

from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, VotingClassifier
from sklearn.model_selection import ParameterGrid, train_test_split
from sklearn.dummy import DummyClassifier

from tqdm import tqdm

import os
import datetime
for dirname, _, filenames in os.walk('data/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

data/test.csv
data/gender_submission.csv
data/train.csv

# Load data, display train data

In [2]:
df_train = pd.read_csv("data/train.csv")
df_train, df_val = train_test_split(df_train, test_size=0.2, random_state=42)
df_test = pd.read_csv("data/test.csv")

display(df_train)
display(df_val)
display(df_test)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
331,332,0,1,"Partner, Mr. Austen",male,45.5,0,0,113043,28.5000,C124,S
733,734,0,2,"Berriman, Mr. William John",male,23.0,0,0,28425,13.0000,NaN,S
382,383,0,3,"Tikkanen, Mr. Juho",male,32.0,0,0,STON/O 2. 3101293,7.9250,NaN,S
704,705,0,3,"Hansen, Mr. Henrik Juul",male,26.0,1,0,350025,7.8542,NaN,S
813,814,0,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.0,4,2,347082,31.2750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.0,0,0,343120,7.6500,NaN,S
270,271,0,1,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S
860,861,0,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S
435,436,1,1,"Carter, Miss. Lucile Polk",female,14.0,1,2,113760,120.0000,B96 B98,S
102,103,0,1,"White, Mr. Richard Frasar",male,21.0,0,1,35281,77.2875,D26,S

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
709,710,1,3,"Moubarek, Master. Halim Gonios (""William George"")",male,NaN,1,1,2661,15.2458,NaN,C
439,440,0,2,"Kvillner, Mr. Johan Henrik Johannesson",male,31.0,0,0,C.A. 18723,10.5000,NaN,S
840,841,0,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.0,0,0,SOTON/O2 3101287,7.9250,NaN,S
720,721,1,2,"Harper, Miss. Annie Jessie ""Nina""",female,6.0,0,1,248727,33.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
433,434,0,3,"Kallio, Mr. Nikolai Erland",male,17.0,0,0,STON/O 2. 3101274,7.1250,NaN,S
773,774,0,3,"Elias, Mr. Dibo",male,NaN,0,0,2674,7.2250,NaN,C
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
84,85,1,2,"Ilett, Miss. Bertha",female,17.0,0,0,SO/C 14885,10.5000,NaN,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

# Analyze train data

In [208]:
df_train.dtypes

In [209]:
df_train.info()

In [210]:
df_train.isnull().sum()

In [211]:
df_train.describe()

# Analyze Ticket number for usefulness

In [212]:
print(f"Unique Tickets: {len(df_train['Ticket'].unique())}")
print(f"Total guests: {len(df_train['Ticket'])}")

df_train[df_train.duplicated("Ticket")].sort_values("Ticket")

In [213]:
df_train = df_train.drop(["Ticket"], axis=1)
df_val = df_val.drop(["Ticket"], axis=1)
df_test = df_test.drop(["Ticket"], axis=1)

display(df_train)

# Analyze Name for usefulness

In [214]:
df_train["Name"].str.split(',', expand=True)[0].sort_values()

In [215]:
print(f"Unique lastnames: {len(df_train['Name'].str.split(',', expand=True)[0].unique())}")

In [216]:
df_train['lastname'] = df_train['Name'].str.split(',', expand=True)[0]
df_val['lastname'] = df_val['Name'].str.split(',', expand=True)[0]
df_test['lastname'] = df_test['Name'].str.split(',', expand=True)[0]

df_train.head()

In [217]:
df_train = df_train.drop(["lastname", "Name"], axis=1)
df_val = df_val.drop(["lastname", "Name"], axis=1)
df_test = df_test.drop(["lastname", "Name"], axis=1)

display(df_train)

# Analyze Age

In [218]:
sns.displot(df_train, x="Age", kind="kde")

In [219]:
print(f"Mean {df_train['Age'].mean()}")
print(f"Median: {df_train['Age'].median()}")
print(f"Mode: {df_train['Age'].mode()[0]}")

In [220]:
df_train = df_train.fillna({"Age": df_train["Age"].median()})
df_val = df_val.fillna({"Age": df_train["Age"].median()})
df_test = df_test.fillna({"Age": df_train["Age"].median()})

df_train

# Discretize Age

In [221]:
df_train["Age"] = pd.cut(df_train["Age"], bins=[0, 16, 32, 48, 64, 81], labels=False)
df_val["Age"] = pd.cut(df_val["Age"], bins=[0, 16, 32, 48, 64, 81], labels=False)
df_test["Age"] = pd.cut(df_test["Age"], bins=[0, 16, 32, 48, 64, 81], labels=False)

df_train

# One Hot Categorical encoding for gender

In [222]:
df_train = df_train.join(pd.get_dummies(df_train["Sex"], prefix="sex"))
df_val = df_val.join(pd.get_dummies(df_val["Sex"], prefix="sex"))
df_test = df_test.join(pd.get_dummies(df_test["Sex"], prefix="sex"))

display(df_train.head(20))

df_train = df_train.drop(["Sex"], axis=1)
df_val = df_val.drop(["Sex"], axis=1)
df_test = df_test.drop(["Sex"], axis=1)

display(df_train)

# Check embarked feature

In [223]:
df_train.groupby("Embarked").count()["PassengerId"].reset_index().rename(columns={"PassengerId": "embark_count"})

In [224]:
df_train = df_train.fillna({"Embarked": "S"})
df_val = df_val.fillna({"Embarked": "S"})
df_test = df_test.fillna({"Embarked": "S"})

df_train

In [225]:
# Quick check that train is not missing any embarks

print(f"Train embarks: {df_test['Embarked'].unique()}")
print(f"Val embarks: {df_val['Embarked'].unique()}")
print(f"Test embarks: {df_train['Embarked'].unique()}")

In [226]:
df_train = df_train.join(pd.get_dummies(df_train["Embarked"], prefix="embarked"))
df_val = df_val.join(pd.get_dummies(df_val["Embarked"], prefix="embarked"))
df_test = df_test.join(pd.get_dummies(df_test["Embarked"], prefix="embarked"))

display(df_train.head(20))

df_train = df_train.drop(["Embarked"], axis=1)
df_val = df_val.drop(["Embarked"], axis=1)
df_test = df_test.drop(["Embarked"], axis=1)

display(df_train)

# Check cabin data
-> Drop for now

In [227]:
df_train.isnull().sum()

In [228]:
df_train = df_train.drop(["Cabin"], axis=1)
df_val = df_val.drop(["Cabin"], axis=1)
df_test = df_test.drop(["Cabin"], axis=1)

# Final data check

In [229]:
display(df_train)
display(df_train.info())

display(df_val)
display(df_val.info())


display(df_test)
display(df_test.info())

One itemset doesn't have a fare specifified. So let's see how to fill.

In [230]:
sns.displot(df_train, x="Fare", kind="kde")

In [231]:
print(f"Mean: {df_train['Fare'].mean()}")
print(f"Median: {df_train['Fare'].median()}")
print(f"Mode: {df_train['Fare'].mode()[0]}")

In [232]:
df_test = df_test.fillna({"Fare": df_train["Fare"].median()}) # Fill up missing test Fare value with mode of train data

# Lets predict

In [233]:
x_train = df_train.drop(["PassengerId", "Survived"], axis=1)
y_train = df_train["Survived"].to_frame()

print("****************************** TRAIN DATA ***************************\n")
display(x_train)
display(y_train)


x_val = df_val.drop(["PassengerId", "Survived"], axis=1)
y_val = df_val["Survived"].to_frame()

print("\n\n****************************** VAL DATA ***************************\n")
display(x_val)
display(y_val)


x_test = df_test.drop(["PassengerId"], axis=1)
x_passenger_ids = df_test["PassengerId"].to_frame()

print("\n\n****************************** TEST DATA ***************************\n")
display(x_test)
display(x_passenger_ids)

# Preprocessing

In [234]:
scaler = preprocessing.StandardScaler().fit(x_train)

x_train = scaler.transform(x_train)
x_val = scaler.transform(x_val)
x_test = scaler.transform(x_test)

In [235]:
dummy_classifier = DummyClassifier(strategy="most_frequent").fit(x_train, y_train)

print(f"Dummy Val Acc: {dummy_classifier.score(x_val, y_val)}")

# KNN

In [236]:
param_grid = {
    'n_neighbors': np.arange(5, 400, 1),
    'weights': ["uniform", "distance"]
}

params = ParameterGrid(param_grid)

knn_models = []

for param_set in tqdm(params):
    knn = KNeighborsClassifier(**param_set).fit(x_train, y_train.values.ravel())
    
    score = knn.score(x_val, y_val.values.ravel())
    
    knn_models.append({
        "model": knn,
        "score": score
    })
    
knn_models.sort(key=lambda x:x['score'], reverse=True)

print(f"1. KNN model: {knn_models[0]}")
print(f"2. KNN model: {knn_models[1]}")
print(f"3. KNN model: {knn_models[2]}")

# Random Forest

In [237]:
param_grid = {
    'max_depth': np.arange(5, 15, 1),
    'n_estimators': np.arange(40, 180, 1)
}

params = ParameterGrid(param_grid)

rfc_models = []

for param_set in tqdm(params):
    rfc = RandomForestClassifier(**param_set, random_state=42).fit(x_train, y_train.values.ravel())
    
    score = rfc.score(x_val, y_val.values.ravel())
    
    rfc_models.append({
        "model": rfc,
        "score": score
    })
    
rfc_models.sort(key=lambda x:x['score'], reverse=True)

print(f"1. RFC model: {rfc_models[0]}")
print(f"2. RFC model: {rfc_models[1]}")
print(f"3. RFC model: {rfc_models[2]}")

# GradientBoostingClassifier

In [238]:
param_grid = {
    'learning_rate': [0.9, 1, 1.1],
    'n_estimators': np.arange(20, 100, 1),
    'max_depth': np.arange(3, 10, 1)
}

params = ParameterGrid(param_grid)

gbc_models = []

for param_set in tqdm(params):
    gbc = GradientBoostingClassifier(**param_set, random_state=42).fit(x_train, y_train.values.ravel())
    
    score = gbc.score(x_val, y_val.values.ravel())
    
    gbc_models.append({
        "model": gbc,
        "score": score
    })
    
gbc_models.sort(key=lambda x:x['score'], reverse=True)

print(f"1. GBC model: {gbc_models[0]}")
print(f"2. GBC model: {gbc_models[1]}")
print(f"3. GBC model: {gbc_models[2]}")

# SVM

In [239]:
param_grid = {
    'C': np.arange(0.1, 0.8, 0.01),
    'kernel': ['rbf'],
    'gamma': ['scale', 'auto']
}

params = ParameterGrid(param_grid)

svc_models = []

for param_set in tqdm(params):
    svc = SVC(**param_set, random_state=42).fit(x_train, y_train.values.ravel())
    
    score = svc.score(x_val, y_val.values.ravel())
    
    svc_models.append({
        "model": svc,
        "score": score
    })
    
svc_models.sort(key=lambda x:x['score'], reverse=True)

print(f"1. SVC model: {svc_models[0]}")
print(f"2. SVC model: {svc_models[1]}")
print(f"3. SVC model: {svc_models[2]}")

# AdaBoost

In [240]:
param_grid = {
    'n_estimators': np.arange(50, 200, 1),
    'learning_rate': [1]
}

params = ParameterGrid(param_grid)

ada_models = []

for param_set in tqdm(params):
    ada = AdaBoostClassifier(**param_set, random_state=42).fit(x_train, y_train.values.ravel())
    
    score = ada.score(x_val, y_val.values.ravel())
    
    ada_models.append({
        "model": ada,
        "score": score
    })
    
ada_models.sort(key=lambda x:x['score'], reverse=True)

print(f"1. ADA model: {ada_models[0]}")
print(f"2. ADA model: {ada_models[1]}")
print(f"3. ADA model: {ada_models[2]}")

In [250]:
voting_clf = VotingClassifier(estimators = [
    ('rfc', rfc_models[0]["model"]),
    ('knn', knn_models[0]["model"]),
    ('gbc', gbc_models[0]["model"])
]).fit(x_train, y_train.values.ravel())

voting_clf_score = voting_clf.score(x_val, y_val.values.ravel())

print(f"Voting Clf score: {voting_clf_score}")

In [248]:
best_model = voting_clf

In [249]:
y_test_pred = best_model.predict(x_test)
x_passenger_ids["Survived"] = y_test_pred
display(x_passenger_ids)

In [244]:
x_passenger_ids.to_csv(f"submission.csv", index=False)